{% extends 'base.html' %}

{% block title %}Households{% endblock %}
{% block content-main %}
    <h1>This is the households page</h1>
    <form id="form-container" action="" method="POST">
        {% csrf_token %}
        {{householdmember_form.management_form}}
        {% for form in householdmember_form %}
            <div class='add_household_form'>
                {{form}}
            </div>
        {% endfor %}
        <button id="add-householdmember"type="button">Add household member</button>
        <button type="submit">Create Household</button>
    </form>
    {% comment %} <form id="form-container" action="" method="POST">
        {% csrf_token %}
        {{household_form.management_form}}
        {% for form in household_form %}
            <div class='add_household_form'>
                {{form}}
            </div>
        {% endfor %}
     </form> 
        {% csrf_token %}
        {{ forms }}
        <br>
        <br>
     {% endcomment %}
    <div>
        <label>Current Households</label>
        <ul>
            {% for Household in Households %}
            <li>
                {{ Household.name }}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
