{% extends 'base.html' %}

{% block title %}Remove Household{% endblock title %}
{% comment %} <script>

</script> {% endcomment %}

{% block content-main %}
    {% for Household in Household_list %}
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            {{ Household.name }}
        </label>
        <br>
    {% endfor %}

    <button id="delete_household"class="btn btn-danger" type="button" onclick="alert('Are you sure you want to delete these households?.')">Delete</button>
{% endblock  %}
